.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-list {
  max-width: 80%;
  width: 100%;
}

.timeline-card {
  height: 360px;
}

.codes-box {
  width: 300px;
}

.codes-link {
  text-decoration: none !important;
  width: 100%;
}
